a:hover, a:focus{
    text-decoration: none!important;
}
.min-h-screen{
    min-height: 100vh!important;
}
.text-blue{
    color: #0985CB;
}
.text-dark-blue{
    color: #374CB8;
}
.text-green{
    color: #318B23;
}
.font-1{
    font-size: 1.8rem;
}
.font-2{
    font-size: 1.5rem;
}
.font-3{
    font-size: 1.2rem;
}
.font-4{
    font-size: 1rem;
}
.bg-light{
    background-color: #ffff !important;
}
.bg-blue{
    
    background-color: #0BDDFA !important;
}
.btn-blue{
    background: rgb(13, 148, 182);
    color: #fff;
}
.btn-blue:hover{
    background: rgb(28, 98, 189);
}
body, #app{
    min-height: 100vh;
}
aside{
    background-color: #1C8EB2;
    width: 100%;
}
aside .avatar img{
    object-fit: cover;
    object-position: center;
}
aside > nav{
    background-color: #000;
    display: flex;
    color: #fff;
}
aside > nav > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
}
aside > nav > *:hover, aside > nav > *:focus{
    color: #666;
}
aside > nav > *:first-child,aside > nav > *:last-child{
    border-color: rgba(255,255,255, 0.2);
    border-style: solid;
    border-width: 0;
}
aside > nav > *:first-child{
    border-right-width: 1px;
}
aside > nav > *:last-child{
    border-left-width: 1px;
}
aside > section > nav > a, aside > section > nav > a:hover, aside > section > nav > a:focus{
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 9999px;
    background-color: transparent;
}
aside > section > nav > a:hover, aside > section > nav > a:focus, 
aside > section > nav > .active{
    background-color: #2C6884;
}

.content{
    /* max-height: 50vh; */
    background: linear-gradient(90deg, #11CDEF, #1171EF)
}

.content-avatar img{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
}
.profile-avatar img{
    width: 140px;
    height: 140px;
    border: 7px solid #fff;
}
.action-choose{
    position: fixed;
    right: 20px;
    bottom: 55px;
}
.action-choose img{
    /* transform: rotate(0deg); */
    transition: 0.3s linear;
}
/* .action-choose:hover img{
    transform: rotate(40deg);
} */
.action-choose .add{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;    
    bottom: 35px;
    left: -120px;
    z-index: -1;
    transition: 0.3s linear;
}


@media screen and (min-width: 768px){
    .min-h-md-screen{
        min-height: 100vh;
    }
    aside{
        position: sticky;
        top: 0;
        height: 100vh;
    }
    aside .avatar img{
        width: 80px;
        height: 80px;
    }
    aside .header-user-infor{
        color: #C0C0C0;
    }
    aside .header-user-infor *:first-child{
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 20px;
    }
    aside .header-user-infor *:last-child{
        font-size: 1.5rem;
        font-weight: 700;
    }
    aside > section > nav > a > img{
        width: 45px;
    }
    .content-avatar img{
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
    }
    
    .profile-avatar img{
        width: 140px;
        height: 140px;
        border: 7px solid #fff;
    }
    .content{
        max-height: 50vh;
        background: linear-gradient(90deg, #11CDEF, #1171EF)
    }
}

.box{
    border-radius: 10px;
    background-color: #fff; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.box-info *:first-child{
    font-size: 1rem;
    color: gray;
}
.box-info *:last-child{
    line-height: 2rem;
    font-size: 1.6rem;
    color: #0985CB;
}
.wallets{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.wallets-header{
    border-radius: 10px 10px 0 0;
    background-color: #0BDDFA;
    font-size: 1.5rem;
}
.wallets-body{
    border-radius: 0 0 10px 10px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    background-color: #F6F5F5;
}
.item-info *:first-child{
    font-size: 1.1rem;
}
.item-info *:last-child{
    font-size: 1.3rem;
    line-height: 1.2rem;
    color: #0B2CA3;
}


.content .data{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}
.content .data--bg{
    background-color: #F6F4F4;
}
.content .data .data-wallets__header{
    background-color: #156DF1;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
}
.content .data .data-wallets__body{
    background-color: #F7F0F0;
    border-radius: 0 0 10px 10px;
    font-size: 1.5rem;
}
.content .data .data-wallets__body ul li .action-menu{
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 99;
}
.content .data .data-wallets__body ul li:last-child .action-menu{
    position: absolute;
    right: 20px;
    top: -110px;
    z-index: 99;
}

.content .data .data-body{
    background-color: #FFFCFC;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
}

.action .action-menu-item span{
    font-size: 1.3rem;
    color: #000;
}

.action .action-menu-item:hover{
    background-color: #F7F0F0;
}

.input-text--color, .input-text--color::placeholder, .input-text--color:focus{
    color: #087ABB;
}
.input-text--fs{
    font-size: 1.8rem !important;
}
.input-text, .input-text:focus{
    outline: none !important;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #646262;
    padding: 0;
    margin: 0;
    
}

.profile{
    background-color: #F8F1F1;  
    position: relative;
}

.profile .profile-avatar{
    position: absolute;
    top: -75px;
    left: 110px;
}

.select2-selection--single{
    border: none !important;
    border-bottom: 1px solid #646262 !important;
    outline: none !important;
    
}
@media screen and (max-width: 767px){
    aside .avatar img{
        width: 60px;
        height: 60px;
    }
    aside section{
        position: fixed;
        min-height: 100vh;
        max-width: 330px;
        width: 100%;
        top: 0;
        left: -100%;
        transition: 0.3s linear left;
        z-index: 9999;
        background-color: #1C8EB2;
        padding: 15px 0;
    }
    aside section.active{ 
        left: 0;
    }
    aside > nav{
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
    }
    #overlay{
        position: fixed;
        z-index: 888;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .is_fixed{
        position: sticky;
        top:0;
        z-index: 1000;
    }
}

/* .select2-container{
    width: 100%;
} */

.flag{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
